/* Mobile */
@media screen and (max-width:1050px) {

    :root {
        --preto: #120010;
        --roxo-escuro: #1A0010;
        --roxo-claro: #400135;
        --rosa: #F205B3;
        --branco: #ffffff;
        --fonte-primaria: 'Hubballi';
        --fonte-secundaria: 'Inter'
    }

    body {
        background: linear-gradient(180deg, #0D0009 0%, var(--roxo-escuro) 45.83%);
    }

    /* Menu escondido */

    .cabecalho{
        display: none;
    }

    .nav-mobile{
        display: contents;
    }

    .label-menu, 
    .checkbox {
        display: none;
    }
  
    .menu {
        display: block;
        position: absolute;
        top: 4.6875rem;
        left: 0;
        background: linear-gradient(180deg, var(--roxo-escuro) 0%, var(--preto) 45.83%); 
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
        
    }

    .menu a {
        font-size: 2rem;
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.0625rem solid var(--preto);
        border-radius: 0;
    }

    .label-menu{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--branco);
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburguer {
        border-top: 0.125rem solid;
        width: 1.25rem;
        color: var(--branco);
        margin: 1rem 0 0 2rem;
      }

    .hamburguer::after,
    .hamburguer::before {
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .checkbox:checked ~ .menu {
        height: calc(50vh - 4.6875rem);
        visibility: visible;
        overflow-y: auto;
    }
    .checkbox:checked ~ .label-menu .hamburger {
        border-top-color: transparent;
    }
    

    /* Imagem */

    .logo-mobile {
        display: contents;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-mobile {
        max-width:100%;
        height:auto;
    }

    /* Descrição */

    .desc-mobile{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: var(--fonte-primaria);
        font-size: 1.5rem;
        color: var(--branco);
        margin: 0.5rem 0 1rem 0;
    }

      /* Petiscos */

      .navegacao-um {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
        gap: 0;
        margin: 0;
    }

      .titulo-secao {
        font-family: var(--fonte-primaria);
        font-size: 10vw; 
        color: var(--branco);
        font-weight: 400;
        margin: 0;
    }
    
    .segunda-logo {
        max-width: 40%;
        height: auto;
    }
    
    .petiscos-container {
        flex-direction: column;
        align-items: center;
        text-align: justify;
        width: 100%;
        font-size: 12vw;
        padding: 2rem 0;
    }

    #linha {
        width: 100%;
        height: 1px;
        background-color: var(--branco); 
        margin: 2rem;
      }

    #linha-horizontal-mobile {
        width: 100%;
        height: 1px;
        background-color: var(--branco); 
    }

    .petiscos-box {
        padding: 0;
        margin: 0;
        text-align: justify;
        font-size: 5vw; 
        height: 80%;
    }

    .petiscos-titulo {
        font-size: 5vw; 
        font-weight: 700;
    }

    .preco{
        margin: 1rem 0 1rem;
    }

    /* Cervejas */

    .cervejas-secao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center ;
        color: var(--branco);
        gap: 0;
        padding: 0 0 1rem 0;
    }

    .cervejas-box {
        font-size: 1.2rem;
    }

    .cervejas-titulo {
        font-size: 8vw;
        text-align: center;
    }

    .cervejas-container {
        padding: 1rem;
    }

    /* Drinks */

    .drinks-secao {
        flex-direction: column;
    }

    .drinks-box {
        flex-direction: column;
    }

    .drinks-fotos {
        border-radius: 0.5rem;
        max-width: 70%;
        margin: 1rem;
    }

    .drinks-titulo {
        font-size: 5vw;
    }

    .drinks-descricao {
        font-size: 5vw;
    }

    .drinks-valor {
        font-size: 5vw;
    }

    /* Outras Bebidas */

    .outras-container {
        flex-direction: column;
    }

    .doses-box {
        gap: 0.5rem
    }

    .doses-separacao {
        flex-direction: column;
    }

    .doses-separacao-box {
        width: 100%;
    }

    .doses-titulo {
        font-size: 5vw;
    }

    .doses-descricao {
        width: 100%;
        font-size: 5vw;
    }

    .drinks-valor {
        margin-top: 0.5rem;
    }

    .outras-box {
        gap: 0.5rem;
        align-items: stretch;
    }

    .outras-separacao {
        padding: 1.5rem;
    }

    /* Rodape */

    .rodape {
        flex-direction: column;
    }

    .rodape-nav {
        display: none;
    }

}
