@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@400;700&display=swap');

:root {
    --preto: #120010;
    --roxo-escuro: #1A0010;
    --roxo-claro: #400135;
    --rosa: #F205B3;
    --branco: #ffffff;
    --fonte-primaria: 'Hubballi';
    --fonte-secundaria: 'Inter'
}

body {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--preto) 0%, var(--roxo-escuro) 100%);
    font-size: 16px;
}

/* Inicio */

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

nav li a:hover {
    background: var(--roxo-escuro);
}

hr {
    margin: 1.563rem 0;
	border: 0;
	border-top: 1px solid var(--rosa);
}

.logo-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 8.625rem 7.313;
    gap: 0.625rem;
}

.nav-mobile{
    display: none;
}

.logo-mobile{
    display: none;
}

.descricao{
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    color: var(--branco);
    margin: 2rem;
}

.linha {
    color: var(--rosa);
}

/*Titulação de Seção Padrão*/

.navegacao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
    gap: 12vw;
}

.titulo-secao {
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    color: var(--branco);
    font-weight: 400;
    margin: 2rem 0rem;
}

.segunda-logo {
    max-width: 30%;
    height: auto;
}

/*Seção de Petiscos*/

.petiscos {
    background-color: linear-gradient(180deg, var(--preto) 0%, var(--roxo-escuro) 100%);
}

.petiscos-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 2rem;
    text-align: justify;
}
.petiscos-box {
    color: var(--branco);   
    font-size: 1.875rem;
    font-family: var(--fonte-secundaria);
    line-height: 1.5;
    margin: 1rem;
    padding: 1rem;
    width: 85%;
}

.petiscos-titulo {
    font-size: 2rem;
    font-weight: 700;
}

#linha {
    height: 600px;
    border-right: 1px solid var(--branco);
}

.preco {
    margin: 2rem 5rem;
    
}
.valor {
    border-radius: 20px;
    background: var(--roxo-claro);
    padding: 0.5rem 0.1rem;
}

.valor-2 {
    border-radius: 20px;
    background: var(--branco);
    padding: 0.5rem;
    color: var(--roxo-escuro);
}

.petiscos-info {
    padding: 0.5rem;
}

.linha-petiscos {
    color: var(--roxo-claro);
}

.bolinho {
    border-radius: 2rem;
    max-width: 75%;
    margin: 2rem 0 2rem 2.5rem;
}

/* Seção de Cervejas */

.cervejas-secao {
    display: flex;
    justify-content: center;
    align-content:flex-start ;
    color: var(--branco);
    gap: 18rem;
    padding: 0 0 10rem 0;
}

.cervejas-titulo {
    font-size: 3rem;
    font-family: var(--fonte-primaria);
}

.cervejas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 0 0;
}

.cervejas-box {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    padding: 1.875rem;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
    color: var(--branco);
    font-size: 2rem;
}

.cervejas-precos {
    font-weight: 400;
}

/* Seção de Drinks */

.drinks {
    color: var(--branco);
}

.drinks-secao {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    margin: 2rem 0 0 0;
}

.drinks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.drinks-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-bottom: 0.5rem;
}

.drinks-texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.drinks-titulo {
    font-size: 2rem;
    font-weight: 700;
}

.drinks-descricao {
    text-align: justify;
    padding: 1rem 1rem 0.5rem 0;
    font-size: 1.875rem;
}

.drinks-fotos {
    border-radius: 1rem;
    max-width: 30%;
}

.drinks-valor {
    font-family: var(--fonte-secundaria);
    font-size: 1.875rem;
    margin: 0 0 1rem 0;
}

/* Seção outras bebidas */

.outras-bebidas {
    margin-bottom: 1rem;
}

.doses-container {
    align-items: center;
    text-align: justify;
}

.doses-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.doses-titulo {
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 700;
}

.doses-descricao {
    font-family: var(--fonte-secundaria);
    font-size: 1.875rem;
    width: 85%;
    text-align: justify;
}

.doses-separacao {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.doses-separacao-box {
    width: 80%;
}

.drinks-valor {
    font-size: 2rem;
}

.outras-container {
    display: flex;
    align-content: center;
    text-align: justify;
    color: var(--branco);
    width: 100%;
}

.outras-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outras-itens {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: space-between;
}

.outras-separacao {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

/*Voltar ao topo*/

#subir {
    background-color: var(--branco);
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px var(--preto);
    color: var(--rosa);
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
}

#subir::after {
      content: '▲';
      display: flex;
      justify-content: center;
      padding-left: 1px;
      padding-top: 10px;
}

/* Footer */

footer {
    background-color: var(--preto);
    padding: 2rem;
  }

  .rodape {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--branco);
  }

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
    font-family: var(--fonte-primaria);
    font-size: 2rem;
  }

  .endereco {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
  }
  
.rodape-insta {
    gap: 0.5rem;
    margin: 0.5rem 0 1rem 0;
}

.rodape-links a {
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    color: var(--branco);
    font-size: 1.2rem;
}

.rodape-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
