@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:wght@400;700&display=swap');
  
:root {
    --preto: #120010;
    --roxo-escuro: #1A0010;
    --roxo-claro: #400135;
    --rosa: #F205B3;
    --branco: #ffffff;
    --fonte-primaria: 'Hubballi';
    --fonte-secundaria: 'Inter'
}

body {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, var(--preto) 0%, var(--roxo-escuro) 100%);
    font-size: 16px;
}

/* Inicio */

.cabecalho{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

nav li a{
    text-decoration: none;
    color: var(--branco);
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

nav li a:hover {
    background: var(--roxo-escuro);
}

hr {
    margin: 1.563rem 0;
	border: 0;
	border-top: 1px solid var(--rosa);
}

.logo-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 8.625rem 7.313;
    gap: 0.625rem;
}

.nav-mobile{
    display: none;
}

.logo-mobile{
    display: none;
}

.descricao{
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    color: var(--branco);
    margin: 2rem;
}

.linha {
    color: var(--rosa);
}

/*Seção de Petiscos*/

.petiscos {
    background-color: var(--roxo-escuro);
}

.navegacao-um {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.titulo-secao {
    font-family: var(--fonte-primaria);
    font-size: 4rem;
    color: var(--branco);
    font-weight: 400;
    margin: 2rem 0rem;
}

.segunda-logo {
    max-width: 100%;
    height: auto;
}

.petiscos-separados {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4.36rem;
    text-align: justify;
}
.texto-comidas {
    color: var(--branco);   
    font-size: 1.875rem;
    font-family: var(--fonte-secundaria);
    line-height: 1.5;
    margin: 1rem;
    padding: 2rem;
    width: 85%;
    height: 30rem;

}

.titulo {
    font-size: 2rem;
    font-weight: 700;
}

#linha {
    height: 400px;
    border-right: 1px solid var(--branco);
}

.preco {
    margin: 2rem 5rem;
    
}
.valor {
    border-radius: 20px;
    background: var(--roxo-claro);
    padding: 0.5rem 0.1rem;
}

.valor-2 {
    border-radius: 20px;
    background: var(--branco);
    padding: 0.5rem;
    color: var(--roxo-escuro);
}

.referente {
    padding: 0.5rem;
}

.linha-petiscos {
    color: var(--roxo-claro);
}